:root{
    --red : #D01C28;      /*you can create primary rule using root*/
}

*{
    margin:0;
}
body{
    font-family:  "Poppins",'sans-serif';
}

nav{
    display: flex;
    justify-content: space-between;   
    /* for space between items */
    max-width: 1280px;
    margin:0 auto ;
    height: 72px;
    align-items: center;
}

ul{
    display: flex;
    gap: 24px;
    list-style: none;
}

button{
    all: unset;
    padding: 6px 12px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}